.all_partners{
	@include rem(margin-top, 2rem);
	@include rem(margin-bottom, 3.54rem);
	&__list{
		@include clearfix;
	}
	&__item{		
		@include rem(margin-bottom, 6.667rem);			
		@include breakpoint-layout(break-1) {
			float: left;
			width: 48.96%;
			margin-right: 2.08%;
			&:nth-child(2n){
				margin-right: 0px;
			}
		}
		@include breakpoint-layout(break-2) {
			float: left;
			width: 31.94%;
			&:nth-child(2n){
				margin-right: 2.08%;
			}
			&:nth-child(3n){
				margin-right: 0px;
			}
		}		
	}
	&__logo {
		overflow: hidden;
        position: relative;
        padding-top: 277/368 * 100%;
        height: 0;
        display: block;
        background: site-color(blue_mid_light) !important;
        img {
            position: absolute;
            max-width: 100%;
			top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
        }
					
    }
	h3{
		font-weight: bold-of($display-type);
		@include rem(border-bottom-width, 0.4rem);
	}
	
	&__excerpt{	
		p{						
			font-size: 1.333rem;
			line-height: 2rem;			
			border-top-width: 0;
			@include rem(padding-top, 1.2rem);
		}
	}
	@extend %has-background-color;
}

.partner_logo_large{
	overflow: hidden;
	position: relative;
	padding-top: 356/468 * 100%;
	height: 0;
	display: block;
	background: site-color(blue_mid_light) !important;
	img {
		position: absolute;
		max-width: 100%;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}