.all_partners{
	@include rem(padding-top, 2rem);
	@include rem(padding-bottom, 1.25rem);
	@include breakpoint-layout(break-2) {
		@include rem(padding-top, 5rem);
		@include rem(padding-bottom, 2.25rem);
	}
	&__list{
		@include clearfix;
	}
	&__item{
		@include rem(margin-bottom, 4.75rem);			
		@include breakpoint-layout(break-1) {
			float: left;
			width: 48.96%;
			margin-right: 2.08%;
			&:nth-child(2n){
				margin-right: 0px;
			}
		}
		@include breakpoint-layout(break-2) {
			float: left;
			width: 31.94%;
			&:nth-child(2n){
				margin-right: 2.08%;
			}
			&:nth-child(3n){
				margin-right: 0px;
			}
		}		
	}
	&__logo {
		background: none !important;
        display: block;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		img{
			@include breakpoint-layout(break-1) {
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
    }
	h3{
		font-weight: bold-of($display-type);
	}
	
	&__excerpt{	
		p{			
			@include breakpoint-layout(break-2) {
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
	}
	@extend %has-background-color;
}