.all_partners{
	@include rem(padding-top, 2rem);
	@include rem(padding-bottom, 1.25rem);
	@include breakpoint-layout(break-2) {
		@include rem(padding-top, 5rem);
		@include rem(padding-bottom, 2.25rem);
	}
	&__list{
		@include clearfix;
	}
	&__item{
		@include rem(margin-bottom, 4.75rem);			
		@include breakpoint-layout(break-1) {
			float: left;
			width: 48.96%;
			margin-right: 2.08%;
			&:nth-child(2n){
				margin-right: 0px;
			}
		}
		@include breakpoint-layout(break-2) {
			float: left;
			width: 31.94%;
			&:nth-child(2n){
				margin-right: 2.08%;
			}
			&:nth-child(3n){
				margin-right: 0px;
			}
		}
		@include breakpoint-layout(break-3) {
			float: left;
			width: 23.44%;
			&:nth-child(3n){
				margin-right: 2.08%;
			}
			&:nth-child(4n){
				margin-right: 0px;
			}
		}
	}
	&__logo {
		background: none !important;
        display: block;
		@include rem(margin-bottom, 1rem);  
		vertical-align: middle;
		img{
			@include filter_elements(grayscale(100%));
			opacity: 0.6;				
		}
    }
	h3{
		font-weight: bold-of($display-type);			
	}
	
	@extend %has-background-color;
}