.breadcrumb{
	display: none;
	@include rem(padding, 1.353rem);
	@include rem(padding-top, 0.8824rem);
	@include rem(padding-bottom, 0.5882rem);
	a{
		font-weight: regular-of($display-type);
		&:before{
			display: inline-block;
			content: "";
			width: 5px;
			height: 10px;
			@include rem(margin-right, 0.4118rem);
			background: url(#{$image-path}/arrows/t-arrow-flip.png) no-repeat left center;
		}
	}
	@include breakpoint-layout(break-1) {
		display: inline-block;
	}
}