.features{
	@include breakpoint-layout(break-2) {	
		border-top: 1.5rem solid transparent;
	}
	&__row{
		@include clearfix;
		@include breakpoint-layout(break-2) {	
			border-bottom: 1.5rem solid transparent;
		}
	}
	&__block{
		position: relative;
		@include breakpoint-layout(break-2) {
			float: left;
			&:first-child{
				@include grid_first;
			}
		}
		.image-overlay{
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;			
			background-repeat: no-repeat;
			background-size: cover;			
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
			filter: gray; /* IE6-9 */
			-moz-filter: grayscale(100%) sepia(100%); /* Moz */
			-webkit-filter: grayscale(100%) sepia(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */			
			@include breakpoint-layout(break-2) {
				display: block;
				opacity: 0.7;
			}
		}
		.block-container{
			filter: none;
			position: relative;	
			box-sizing: border-box;	
			@include rem(padding, 2.308rem);
			@include rem(padding-top, 2.648rem);
			@include rem(padding-bottom, 4.615rem);
			@include breakpoint-layout(break-2) {
				@include rem(padding, 3rem 3rem 4.3rem);
				&.is-long{
					@include rem(padding-top, 5rem);
					@include rem(padding-bottom, 4.5rem);
				}
			}
			
		}
		
		&.seasonal-message{			
			.block-container{				
				@include breakpoint-layout(break-2) {
					max-width: 40rem;				
				}
				&.is-long{
					h2, .h2-style{
						@include rem(margin-bottom, 1.6rem);
						@include rem(padding-top, 0.8rem);
					}
				}
			}
			h2, .h2-style{
				color: site-color(white);				
				font-weight: regular-of($display-type);
				@include rem(margin-bottom, 2.1rem);
				@include rem(padding-top, 0.3rem);
			}
			.arrow-link{
				@include text-link(site-color(white));
				@media screen and (max-width: 20em) {
					font-size: 1.6rem;
				}
			}
		}
		&.newsletter{
			.block-container{
				@include breakpoint-layout(break-2) {
					@include rem(padding-left, 1.7rem);
					@include rem(padding-right, 1.7rem);
				}
			}
			h3{
				font-weight: bold-of($display-type);
				border-bottom: 0px;
				@include rem(margin-top, 0.7rem);
			}
			p.intro{
				margin-bottom: 0.8em;
			}
			input[type="email"]{
				max-width: 100%;
				background-color: site-color(white);
				border: none;
				@include rem(margin-bottom, 0.8rem);
			}
			input[type="submit"], button{
				display: block;
				color: site-color(blue);
				font-weight: bold-of($display-type);
				background: transparent;				
				border: none;
				min-height: 0px;
				border-bottom: 1px solid transparentize(site-color(blue), 0.75);
				padding: 0;
				cursor: pointer;
				font-size: 1.231rem;
				@include breakpoint-layout(break-1) {
					font-size: 1.142rem;
				}
				@include breakpoint-layout(break-2) {
					font-size: 1.06rem;
				}
				@include breakpoint-layout(break-3) {
					font-size: 0.9412rem;
				}
			}
			.message_error{
				background: site-color(red);
				color: site-color(white);
				padding: 0.5em;			
				border: 0;
				line-height: 1.5;
			}
			@include breakpoint-layout(break-2) {
				input[type="email"], .message_error{
					margin-left: -0.5rem;
				}				
			}
		}
		&.testimonial{
			padding: 0;			
			.alumni-image{
				display: none;
				float: right;
				width: 34%;						
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
			filter: gray; /* IE6-9 */
			-moz-filter: grayscale(100%); /* Moz */
			-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
				opacity: 0.5;
				img{
					width: 100%;
				}
				@include breakpoint-layout(break-3) {
					display: block;
				}
			}
			.block-container{
				@include breakpoint-layout(break-3) {
					float: left;
					width: 66%;				
				}
			}
			h3{
				font-weight: bold-of($display-type);
				border-bottom: 0;
				padding: 0;
				@include rem(padding-bottom, 0.4rem);
				border-top-width: 0.7rem;
			}
			blockquote{	
				@include rem(padding-bottom, 3.8rem);
					p{
						&:before{
							@include breakpoint-layout(break-2) {
								left: -0.38em;
								font-size: 3.4em;
							}
					}
				}
			}
			.arrow-link{
				@include text-link(site-color(blue));					
			}
		}
		&.partners-section{	
			h2{
				border-top: 0;
				@include rem(padding-bottom, 4rem);
				text-align: center;
				font-weight: regular-of($display-type);
				@include breakpoint-layout(break-2) {
					@include rem(padding-bottom, 1.8rem);
				}
			}
			.block-container{
				@include breakpoint-layout(break-2) {
					@include rem(padding, 3rem 3rem 3.6rem);
				}
			}
			.view-more{
				text-align: center;
				.arrow-link{
					@extend %intro-style;
				}
			}
		}		
		@extend %has-background-color;
		
		@each $color in $site-color-names {
			&.has-mobile-background_#{'' + $color} {
				background: site-color($color);
			}
		}
		@include breakpoint-layout(break-2) {
			@each $color in $site-color-names {
				&.has-background_#{'' + $color} {
					background: site-color($color);
				}
			}
		}
	}
	&.general-features{
		.features__block{
			.block-container{
				@include rem(padding-bottom, 2.6rem);
				@include breakpoint-layout(break-2) {
					@include rem(padding-bottom, 2.5rem);			
				}			
			}
			&.seasonal-message{
				.block-container{
					h2{
						border-top: 0;
						margin-bottom: 2.6rem;
					}
				}
			}
			&.newsletter{
				.block-container{
					h3{
						border-top: 0;
						padding-top: 0;
					}
				}
			}
		}
	}
}