.footer{		
	@include rem(padding-bottom, 2.462rem);
	@include clearfix;
	@include breakpoint-layout(break-2) {
		background: site-color(blue_ver_light);	
		@include rem(padding-bottom, 4.2rem);
	}
	a{
		background: none;
	}
	.thick-logo{
		@include rem(padding-top, 0.4rem);
		@include breakpoint-layout(break-1) {
			@include span(5 of 12);
			float: left;
			@include rem(padding-top, 7.41rem);
			.container{
				@include rem(max-width, 29.4rem);			
				margin-left: auto;
				margin-right: 0px;
				@include rem(padding-left, 3rem);
				padding-right: 0px;
				box-sizing: border-box;			
			}
		}
	}
	.csl-footer-logo{
		background: site-color(blue_ver_light);
		@include rem(padding-top, 1.765rem);
		.container{			
			padding: 0px;
		}
		@include breakpoint-layout(break-1) {
			@include span(7 of 12);
			float: right;	
			.container{			
				img{
					@include rem(max-width, 17rem);
				}
			}
		}
		@include breakpoint-layout(break-2) {
			background: site-color(blue_mid_light);			
		}
	}
}