form {    
    label:not(.radio-label) {
		display: block;
		@extend %default-style;
	}    
	input[type=submit], button, input[type=reset]{
		@include button;
	}
	.field-section{
		padding-bottom: 2rem;
	}
    .field-group{
        position: relative;
        margin-bottom: 2rem;
        position: relative;
        &.sub-field{
            margin-right: 0.4%;
            &.col-5 {
                width: 41.96%;
            }
            &.col-6{
                width: 49.8%;
            }
            &.col-7{
                width: 58.16%;
            }
            &:last-child{
                float: right;
                margin-right: 0px;
            }            
        }                              		
    } 
	.error-message{
		display: none;
		position: absolute;
		left: 0px;
		top: 100%;
		z-index: 2;
		background: #da2637;
		color: site-color(white);
		font-size: 1em;
		padding: 10px 12px;
		text-align: left;
		&:before{
			content: "";
			position: absolute;
			bottom: 100%;
			left: 20px;
			width: 0px;
			height: 0px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 13px solid #da2637;
		}
	}
	.not-valid label, label.not-valid, label.error{
		color: site-color(red);
	}
	.not-valid input[type=text], 
	input[type=text].not-valid, 
	input[type=text].error, 
	.not-valid > input[type=url], 
	input[type=url].not-valid, 
	input[type=url].error, 
	.not-valid > input[type=password], 
	input[type=password].not-valid, 
	input[type=password].error, 
	.not-valid > input[type=tel], 
	input[type=tel].not-valid, 
	input[type=tel].error, 
	.not-valid > input[type=number], 
	input[type=number].not-valid, 
	input[type=number].error, 
	.not-valid > input[type=email], 
	input[type=email].not-valid, 
	input[type=email].error,
	.not-valid > textarea,
	textarea.not-valid, 
	textarea.error, 
	.not-valid > select, 
	select.not-valid, 
	select.error {
		border-color: site-color(red);
	}
    .field-submit{
        margin-bottom: 2rem;       
    }    
    
}

.drop-down {
	position: relative;	
	@include rem(height, 2.353rem);
	@include rem(width, 15.88rem);	
	ul {
		position: absolute;
		text-align: left;
		-webkit-font-smoothing: antialiased;
		background-color: site-color(white);
		outline: 0 none;
		padding: 0;
		margin: 0;
		border: 0px;
		width: 100%;
		max-width: 100%;
		border-bottom: 1px solid rgba(0, 109, 129, 0.25); 
		box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		transition: all 0.3s ease-in-out, z-index 0s 0.3s;
		max-height: 2.118rem;
		z-index: 1;
		li{
			display: block;
			padding: 0.1765rem 0.7647rem;
			margin: 0;
			border: 0;
			cursor: pointer;
			color: site-color(blue);
			font-size: 1rem;
			position: relative;			
			&.active{
				color: #00644c;
			}
			&.label{				
				font-weight: bold_of($body-type);					
				&:before {
					background-image: url(../images/arrows/t-arrow-bottom.png);
					background-repeat: no-repeat;
					background-position: 96% 50%;
					content: "";
					width: 0.4118rem;
					height: 0.2353rem;
					position: absolute;
					top: 50%;
					right: 0.1765rem;
					margin-top: -0.1176rem;
				}
				span{
					overflow: hidden;
					display: block;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}
	&.expanded{
		ul{
			max-height: inherit;
			z-index: 2;
			background-color: site-color(blue_mid_light);
			border-bottom: 0;
			li{
				&:hover{
					background-color: site-color(blue_ver_light);
				}
				&.label{
					color: site-color(blue_dark);
				}
			}
		}
	}
}
