form {    
    .field-group > label, fieldset > .field > label{
		display: block;
		@extend %default-style;
		border-bottom-width: 0.8rem;
	}    
	input[type=submit], button, input[type=reset]{
		@include button;
	}
	.field-section{
		padding-bottom: 2rem;
	}
    .field-group, fieldset > .field {
        position: relative;
        @include rem(margin-bottom, 0.98rem);
        position: relative;
		&.text.nolabel{
			@include rem(margin-bottom, 0.8rem);
		}
        &.sub-field{
            margin-right: 0.4%;
            &.col-5 {
                width: 41.96%;
            }
            &.col-6{
                width: 49.8%;
            }
            &.col-7{
                width: 58.16%;
            }
            &:last-child{
                float: right;
                margin-right: 0px;
            }            
        }                              		
    }
	.Actions{
		@include rem(margin-top, 2.4rem);
	}
	.optionset{
		list-style: none;
		padding: 0;
		@include clearfix;
		li{
			padding: 0;
			float: left;	
			@include rem(margin-right,1.765rem);
			position: relative;
			&.even{
				
			}
			label{
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				font-weight: bold-of($body-type);
				color: site-color(blue);				
				@include rem(margin-left, 2.2rem);
			}
			.radio-wrapper{
				position: absolute;
				display: block;
				@include rem(top, 0.24rem);				
			}
			.checkbox-wrapper{
				position: absolute;
				display: block;
				@include rem(top, 0.2rem);				
			}
		}
		&_2col{
			@include rem(max-width, 32rem);
			li{
				width: 100%;
				@include breakpoint-layout(break-1) {
					width: 48%;
					margin-right: 4%;
					&.even{
						margin-right: 0;
					}
				}
			}
		}
		&_3col{
			@include rem(max-width, 32rem);
			li{
				width: 100%;
				@include breakpoint-layout(break-1) {
					width: 48%;
					margin-right: 4%;
					&.even{
						margin-right: 0;
					}
				}
				@include breakpoint-layout(break-2) {
					width: 32%;
					margin-right: 4%;
					&.even{
						margin-right: 4%;
					}
					&:nth-child(3n){
						margin-right: 0;
					}
				}
			}
		}
	}
	.error-message{
		display: none;
		position: absolute;
		left: 0px;
		top: 100%;
		z-index: 2;
		background: site-color(red);
		color: site-color(white);
		font-size: 1em;
		padding: 10px 12px;
		text-align: left;
		&:before{
			content: "";
			position: absolute;
			bottom: 100%;
			left: 20px;
			width: 0px;
			height: 0px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 13px solid #da2637;
		}
	}
	.not-valid label, label.not-valid, label.error{
		color: site-color(red);
	}
	.not-valid input[type=text], 
	input[type=text].not-valid, 
	input[type=text].error, 
	.not-valid > input[type=url], 
	input[type=url].not-valid, 
	input[type=url].error, 
	.not-valid > input[type=password], 
	input[type=password].not-valid, 
	input[type=password].error, 
	.not-valid > input[type=tel], 
	input[type=tel].not-valid, 
	input[type=tel].error, 
	.not-valid > input[type=number], 
	input[type=number].not-valid, 
	input[type=number].error, 
	.not-valid > input[type=email], 
	input[type=email].not-valid, 
	input[type=email].error,
	.not-valid > textarea,
	textarea.not-valid, 
	textarea.error, 
	.not-valid > select, 
	select.not-valid, 
	select.error {
		border-color: site-color(red);
		border-width: 2px;
	}
	.required.message{
		color: site-color(red);
		@include rem(margin-top, 0.8rem);
		display: block;
		@include breakpoint-layout(break-1) {
			display: inline;
			margin-top: 0;
			@include rem(margin-left, 1rem);
		}
		
	}
    .field-submit{
        @include rem(margin-bottom, 2rem);       
    }    
 
	.dob-month, .dob-day, .dob-year{
		display: inline-block;
		label{
			display: none !important;
		}
		.required.message{
			display: none !important;
		}
	}
	
	#EditableLiteralField35{
		margin-bottom: 0;
	}
}

.drop-down {
	position: relative;		
	@include rem(width, 22.5rem);	
	@include rem(height, 3.33rem);
	ul {
		position: absolute;
		text-align: left;
		-webkit-font-smoothing: antialiased;
		background-color: site-color(white);
		outline: 0 none;
		padding: 0;
		margin: 0;
		border: 0px;
		width: 100%;
		max-width: 100%;
		border-bottom: 1px solid rgba(0, 109, 129, 0.25); 
		box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		transition: all 0.3s ease-in-out, z-index 0s 0.3s;
		@include rem(max-height, 3rem);
		z-index: 1;		
		li{
			display: block;
			@include rem(padding, 0.65rem 1.083rem);
			margin: 0;
			border: 0;
			cursor: pointer;
			color: site-color(blue);
			@include rem(font-size, 1.333rem);
			line-height: 2rem;
			position: relative;			
			&.active{
				color: #00644c;
			}
			&.label{				
				font-weight: bold_of($body-type);
				@include rem(padding-top, 0.6rem);
				@include rem(padding-bottom, 0.7rem);
				&:before {
					background-image: url(../images/arrows/t-arrow-bottom.png);
					background-repeat: no-repeat;
					background-position: 96% 50%;
					background-size: cover;
					content: "";
					position: absolute;
					top: 50%;
					@include rem(width, 0.5833rem);
					@include rem(height, 0.3333rem);
					@include rem(right, 0.8333rem);
					@include rem(margin-top, -0.1667rem);					
				}
				span{
					@include rem(padding-right,0.2941rem);
					overflow: hidden;
					display: block;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}
	&.expanded{
		ul{
			max-height: inherit;
			z-index: 2;
			background-color: site-color(blue_ver_light);
			border-bottom: 0;
			li{
				&:hover{
					background-color: site-color(blue_mid_light);
				}
				&.label{
					color: site-color(blue_dark);
				}
			}
		}
	}
}
