.header{
	background: site-color(blue_ver_light);
	@include rem(padding-top, 0.9167rem);
	@include rem(padding-bottom, 2.206rem);
	
	@include breakpoint-layout(break-1) {
		@include rem(padding-top, 4.417rem);
		@include rem(padding-bottom, 4.3rem);		
	}
	
	.container{
		@include breakpoint-layout(break-3) {
			@include rem(padding-right, 1.417rem);
		}
		.logo{
			float: right;
			width: span(2.16);
			@include rem(max-width, 140/13 * 1rem);			
			display: block;
			margin: 0;
			padding: 0;
			border: 0;
			outline: none !important;
			transform: translateZ(0);
			border-bottom: 0 none;
			background-image: none !important;
			@include svg-frame(383, 303);
			z-index: 90;
			position: relative;
			@include breakpoint-layout(break-1) {
				width: span(2.91);
				@include rem(max-width, 180/12 * 1rem);				
			}
			@include breakpoint-layout(break-2) {
				width: span(1.888);
				@include rem(max-width, 271/12 * 1rem);				
			}			
		}
		.header-intro{		
			@include rem(padding-top, 12.83rem);
			@include rem(padding-bottom, 2.206rem);
			@include breakpoint-layout(break-2) {
				@include rem(padding-top, 13.14rem);
				@include rem(padding-bottom, 4.3rem);
				@include rem(max-width, 73.33rem);				
			}
			&.header-home{
				@include breakpoint-layout(break-2) {
					@include rem(padding-top, 8.05999rem);	
					@include rem(padding-bottom, 5.2rem);
					@include rem(max-width, 45rem);
				}
				h1{
					@include breakpoint-layout(break-3) {
						@include rem(margin-bottom, -0.3333rem);					
					}	
				}
				
				
			}
			&.header-alumni, &.header-program, &.header-news { // Content Alumni template
				@include rem(padding-bottom, 2.9rem);				
				p{
					
					@extend %small-style;
					@include breakpoint-layout(break-1) {
						padding-top: 0;
					}
				}
				.alumni-designation, .program-schedule, .news-author{
					display: block;
					@include breakpoint-layout(break-1) {	
						display: inline-block;
						@include rem(margin-right, 3.5rem);	
					}					
				}				
			}
			&.header-program-collection{
				h1{
					@include breakpoint-layout(break-3) {
						font-size: 4.667rem;						
					}
				}
			}
		}
	}
}