.header{
	background: site-color(blue_ver_light);
	@include rem(padding-top, 0.6471rem);
	@include rem(padding-bottom, 2.353rem);
	
	@include breakpoint-layout(break-1) {
		@include rem(padding-top, 3.125rem);
		@include rem(padding-bottom, 6.875rem);	
	}
	.container{
		.logo{
			float: right;
			width: span(2.16);
			@include rem(max-width, 140/13 * 1rem);			
			display: block;
			margin: 0;
			padding: 0;
			border: 0;
			outline: none !important;
			transform: translateZ(0);
			border-bottom: 0 none;
			background-image: none !important;
			@include svg-frame(383, 303);
			z-index: 90;
			position: relative;
			@include breakpoint-layout(break-1) {
				width: span(2.91);
				@include rem(max-width, 180/14 * 1rem);				
			}
			@include breakpoint-layout(break-2) {
				width: span(1.888);
				@include rem(max-width, 271/17 * 1rem);				
			}			
		}
		.header-intro{			
			padding-top: 10.46rem;			
			@include breakpoint-layout(break-2) {
				padding-top: 10rem;
				@include rem(max-width, 52rem);			
				&.header-home{
					padding-top: 7.5rem;	
					@include rem(max-width, 32rem);
				}
			}
			&.header-home{
				p, p.intro{					
					@extend %default-style;
					@include breakpoint-layout(break-2) {
						@include type($body-type, 1.6rem, 2, 0, 1);					
					}
					@include breakpoint-layout(break-3) {
						@include type($body-type, 1.4rem, 2, 0, 1);					
					}					
				}
			}
			&.header-alumni, &.header-program, &.header-news { // Content Alumni template
				p{
					
					@extend %small-style;
					@include breakpoint-layout(break-1) {
						padding-top: 0;
					}
				}
				.alumni-designation, .program-schedule, .news-author{
					display: block;
					@include breakpoint-layout(break-1) {	
						display: inline-block;
						@include rem(margin-right, 2rem);	
					}					
				}				
			}
		}
	}
}