.indexnav{	
	display: none;
	float: right;
	position: absolute;
	margin-top: 5rem;
	z-index: 1000;
	@include rem(padding, 1.5rem);
	background: site-color(white);
	&.fixed{
		position: fixed;
		top: 10%;
		margin-top: 0;
		@include rem(right, 12.5rem);		
	}
	&__list{
		list-style: none;
		padding: 0;
		margin: 0 0 1.6em;		
	}
	&__item{
	}
	&__link{
		font-weight: bold-of($body-type);
		outline: none !important;
		&.is-active{
			@include text-link(site-color(blue_dark));
			position: relative;
			&:before{
				content: "";
				display: inline-block;
				width: 5px;
				height: 10px;
				background: url(#{$image-path}/arrows/t-arrow.png) no-repeat left center;	
				position: absolute;
				@include rem(left, -0.8125rem);
				@include rem(top, 0.125rem);
			}
		}
	}
	.button{
		margin-bottom: 0;
	}
	@include breakpoint-layout(break-2) {
		display: block;
	}
}