.nav {
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	@include breakpoint-layout(break-2) {
		position: fixed;
	}
	&__badge {
    	display: inline-block;	
		vertical-align: top;
		@include rem(padding-top, px-to-rems(19px));
		@include rem(padding-right, px-to-rems(22px));
		@include rem(padding-bottom, px-to-rems(14px));
		@include rem(padding-left, px-to-rems(12px));
		@include breakpoint-layout(break-2) {
			@include rem(padding-left, px-to-rems(22px));
		}
		background: site-color(blue_mid_light);
		cursor: pointer;
		transition: all 0.2s ease;
		a {	
			font-weight: regular-of($display-type);
			outline: none;
			@extend %small-style;						
			span{ 
				@include rem(width, 1.333rem);
				@include rem(height, 1.333rem);
				@include rem(margin-right, 0.75rem);
				@include rem(margin-left, 0.1667rem);
				display: inline-block;
				background: url(../images/icons/menu-icon.png) no-repeat center center;
				background-size: cover;
				transition: all 0.2s ease;				
				/*
				@include rem(width, 1rem);
				@include rem(height, 0.1765rem);
				background: site-color(blue);
				display: inline-block;
				vertical-align: middle;
				position: relative;
				@include rem(margin-top, -0.2353rem);
				@include rem(margin-right, 0.4118rem);
				transition: all 0.2s ease;
				&:before, &:after{
					display: block;
					position: absolute;					
					content: "";
					@include rem(width, 1rem);
					@include rem(height, 0.1765rem);
					@include rem(top, -0.4118rem);					
					background: site-color(blue);
					transition: all 0.2s ease;
				}
				&:after{
					@include rem(top, 0.4118rem);					
				}*/
			}			
		}
		@include breakpoint-layout(break-3) {
			&:hover{
				background: site-color(blue_light);
			}
		}
    }

	&__list {
		@include rem(padding-left, 3rem);
		list-style: none;
		@include rem(padding-top, 0.5rem);
		@include rem(padding-bottom, 3.083rem);
		display: none;
		@include breakpoint-layout(break-2) {
			@include rem(padding-left, 4rem);
		}
	}

    &__item {		
		@extend %intro-style;		
		line-height: 4rem;
		display: block;
		padding: 0;
		margin: 0;
		border: 0;
		text-align: left;			
    }

    &__link{		       			
		&.is-current{
			@include text-link(site-color(blue_dark));			
		}
    }
	
	&--smaller{
		.nav__item{
			@extend %small-style;
			padding: 0;
			margin: 0;
			border: 0;
			line-height: 3rem;			
		}		
	}    
	
	&--open{
		@include rem(width, px-to-rems(290px));	
		height: 100%;
		background: site-color(blue_mid_light);
		@include breakpoint-layout(break-1) {
			@include rem(width, px-to-rems(305px));	
		}
		.nav__badge{
			a {
				span{
					background-image: url(../images/icons/menu-icon-close.png);
					/*background: transparent;
					&:before{
						transform: rotate(-45deg);
						top: 0 !important;
					}
					&:after{
						transform: rotate(45deg);
						top: 0 !important;
					}*/
				}
			}
		}
		.breadcrumb{
			display: none;
		}
		.nav__list{
			display: block;
		}
	}
}