.pagination {
    clear: both;
    text-align: center;
	position: relative;
	@include rem(margin-top, 5.125rem);
	@include rem(margin-bottom, 5.125rem);
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		@include clearfix;
		li{
			padding: 0;
			display: none;
			color: site-color(blue);
			&.prev{
				display: block;
				float: left;
				@include rem(padding-left, 2.16rem);
			}
			&.next{
				display: block;
				float: right;				
				@include rem(padding-right, 2.16rem);
			}
			@include breakpoint-layout(break-2) {			
				@include rem(padding-left, 1.08rem);
				@include rem(padding-right, 1.08rem);
				display: inline-block;				
				@include rem(font-size, 2rem);
				&.current{
					color: site-color(blue_dark);
				}
				&.more{
					padding: 0;
				}				
			}
		}
	}
}