.partners{
	@include clearfix;	
	margin: 0px;
	padding: 0px;
	list-style: none;
	&__item{
		float: left;
		width: 44.795%;
		padding: 0px;
		border: 0px;
		@include rem(margin-bottom, 4.85rem);	
		margin-right: 10.41%;			
		&:nth-child(2n){
			margin-right: 0;
		}				
		@include breakpoint-layout(break-2) {
			width: 23.44%;
			margin-right: 2.08%;
			&:nth-child(2n){
				margin-right: 2.08%;
			}
			&:nth-child(4n){
				margin-right: 0px;
			}
		}
		a{
			background: none;
			display: block;
			height: 100%;		
			vertical-align: middle;
			text-align: center;		
			 -webkit-transform-style: preserve-3d;
			  -moz-transform-style: preserve-3d;
			  transform-style: preserve-3d;
			img{
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);							
			}
		}
	}	
}