.pre-footer{
	@include clearfix;
	&__container{
		@include clearfix;
		@include rem(padding-left, 2.5rem);
		@include rem(padding-right, 2.5rem);
		@include breakpoint-layout(break-2) {
			padding: 0;
			@include rem(max-width, 42.4rem);
			margin-left: auto;		
		}
	}
	&__left{
		background: site-color(blue_ver_light);	
		@include rem(padding-top, 2.77rem);		
		@include rem(padding-bottom, 5.833rem);			
		@include breakpoint-layout(break-2) {
			background: transparent;
			@include span(5 of 12);
			float: left;
			@include rem(padding-top, 9.3rem);		
			@include rem(padding-bottom, 6.1979rem);
			.pre-footer__container{
				@include rem(padding-left, 4rem);
				box-sizing: border-box;
			}
		}
	}
	
	&__right{
		background: site-color(blue_mid_light);	
		@include rem(padding-top, 2.77rem);		
		@include rem(padding-bottom, 5.833rem);	
		@include breakpoint-layout(break-2) {
			background: site-color(blue_ver_light);	
			@include span(7 of 12);
			float: left;		
			@include rem(padding-top, 9.3rem);		
			@include rem(padding-bottom, 6.1979rem);
			.pre-footer__container{				
				@include rem(max-width, 44.4rem);
				@include breakpoint-layout(break-2) {
					@include rem(margin-left, 2.5rem);		
					@include rem(margin-right, 2.5rem);		
				}
				@include breakpoint-layout(break-3) {
					margin-right: auto;
					margin-left: auto;
				}
			}
		
		}		
	}
	h3{
		font-weight: bold-of($display-type);
		padding-top: 0;
		border-bottom-width: 0.8rem;
	}
	.footer-menu{
		list-style: none;
		padding: 0px;
		float: left;
		&:last-child{
			float: right;			
		}		
		@include breakpoint-layout(break-1) {
			width: 43%;
			&:last-child{
				float: left;
			}
		}
		@include breakpoint-layout(break-2) {
			margin-right: 6%;
			&:last-child{
				margin-right: 0;
			}
		}
		@include breakpoint-layout(break-3) {
			margin-right: 0;
		}
		li{
			padding: 0px;
			border-bottom: 0px;
			margin: 0px;
			@include rem(margin-bottom, 0.5882rem);
			@extend %small-style;
			@include breakpoint-layout(break-2) {
				margin-bottom: 0;
			}
			&:first-child{
				border-top-width: 0.5rem;
			}
		}		
	}	
	.get-in-touch{
		@include breakpoint-layout(break-2) {
			float: left;			
			width: 80%;		
		}
		.contact-email{
			@extend %intro-style;
			padding-top: 0px;
			border: 0px;
			@include rem(margin-bottom, 3.6rem);
		}		
		.locations{
			@include clearfix;
			&__item{
				@include rem(margin-bottom, 4.165rem);
				strong{
					font-size: 1.333rem;
					display: block;
				}
				p{										
					@extend %small-style;					
					margin-bottom: 0;
					padding-top: 0;
					span{
						@include text-link(site-color(blue));					
					}
					&:last-child{
						border-bottom: 0px;
					}
				}				
				@include breakpoint-layout(break-1) {
					float: left;
					width: 48%;					
					&:nth-child(2n){
						float: right;
					}
				}
				@include breakpoint-layout(break-2) {
					margin-bottom: 0;
				}
				@include breakpoint-layout(break-3) {
					width: auto;
					margin-right: 2.4rem;
					&:nth-child(2n){
						float: left;
					}
				}
			}
		}
	}
	.social-networks{		
		a{
			background: none;
			@include rem(margin-right, 1.7rem);
			img, svg{
				@include rem(max-width, 2rem);
			}				
		}
		@include breakpoint-layout(break-2) {
			float: right;
			width: 20%;
			a{
				margin-right: 0;					
			}
		}
		@include breakpoint-layout(break-3) {
			a{
				@include rem(margin-left, 0.833rem);
				&:first-child{
					margin-left: 0;	
				}
			}
		}
	}
}