.pre-footer{
	@include clearfix;
	&__container{
		@include clearfix;
		@include rem(padding-left, 2.308rem);
		@include rem(padding-right, 2.308rem);
		@include breakpoint-layout(break-2) {
			padding: 0;
			@include rem(max-width, 30.59rem);
			margin-left: auto;		
		}
	}
	&__left{
		background: site-color(blue_ver_light);	
		@include rem(padding-top, 5rem);		
		@include rem(padding-bottom, 5.385rem);	
		
		@include breakpoint-layout(break-2) {
			background: transparent;
			@include span(5 of 12);
			float: left;
			@include rem(padding-top, 7.3rem);		
			@include rem(padding-bottom, 4.375rem);
			.pre-footer__container{
				@include rem(padding-left, 3rem);
				box-sizing: border-box;
			}
		}
	}
	
	&__right{
		background: site-color(blue_mid_light);	
		@include rem(padding-top, 5rem);		
		@include rem(padding-bottom, 5.385rem);	
		@include breakpoint-layout(break-2) {
			background: site-color(blue_ver_light);	
			@include span(7 of 12);
			float: left;		
			@include rem(padding-top, 7.3rem);		
			@include rem(padding-bottom, 4.375rem);
			.pre-footer__container{
				margin-right: auto;
			}
		
		}
		
	}
	h3{
		font-weight: bold-of($display-type);		
	}
	.footer-menu{
		list-style: none;
		padding: 0px;
		float: left;
		@include span(6 of 12);
		li{
			padding: 0px;
			border-bottom: 0px;
			margin: 0px;
			@include rem(margin-bottom, 0.5882rem);
		}
	}
	
	.get-in-touch{
		@include breakpoint-layout(break-2) {
			float: left;			
			width: 80%;		
		}
		.contact-email{
			@extend %intro-style;
			padding-top: 0px;
			border: 0px;
			@include rem(margin-bottom, 2.94rem);
		}		
		.locations{
			@include clearfix;
			&__item{
				@include rem(margin-bottom, 2.94rem);
				p{
					margin-bottom: 0px;
					span{
						@include text-link(site-color(blue));					
					}
				}				
				@include breakpoint-layout(break-2) {
					float: left;
					width: 48%;
					margin-bottom: 0;
					&:nth-child(2n){
						float: right;
					}
				}
			}
		}
	}
	.social-networks{		
		a{
			background: none;
			@include rem(margin-right, 1.2rem);
			img, svg{
				@include rem(max-width, 1.846rem);
			}				
		}
		@include breakpoint-layout(break-2) {
			float: right;
			width: 20%;
			a{
				margin-right: 0;
				@include rem(margin-left, 0.2941rem);
				img, svg{
					@include rem(max-width, 1.412rem);
				}
			}
		}
	}
}