.programs{
	@include clearfix;	
	@include rem(margin-top, 1.5rem);
	@include rem(margin-bottom, 2.5rem);
	h3{
		font-weight: bold-of($display-type);			
	}
	&__item{		
		@include rem(margin-bottom, 4.75rem);		
		@include breakpoint-layout(break-2) {
			margin-right: 2.08%;
			float: left;
			width: 31.91%;		
			&:nth-child(3n){
				margin-right: 0px;
			}
		}
		&.is-open{
			.programs__status{
				color: site-color(green);
				&:before{
					content: "";
					display: inline-block;
					@include rem(width, 0.7059rem);
					@include rem(height, 0.7059rem);
					background-color: site-color(green);
					border-radius: 50%;
					@include rem(margin-right, 0.4706rem);
				}
			}
		}
		&.is-closed{
			opacity: 0.7;
			.programs__cover{				
				opacity: 0.5;				
			}
			.programs__status{				
				&:before{
					content: "";
					display: inline-block;
					@include rem(width, 0.5882rem);
					@include rem(height, 0.5882rem);
					background-color: site-color(orange);
					@include rem(margin-right, 0.4706rem);
				}
			}
		}
	}
	&__cover {
        overflow: hidden;
        position: relative;
        padding-top: 277/368 * 100%;
        height: 0;
        display: block;
        background: site-color(gray);
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
			width: 100%;
        }
		
        @extend %has-background-color;
        
    }
	&__excerpt{		
		@include breakpoint-layout(break-2) {
			p{
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
	}
	&__status{
		@include rem(margin-top, 2.5rem);
		font-weight: regular-of($display-type);
	}
		

}