.seansonal-section{
	@include rem(padding-top, 2.648rem);
	@include rem(padding-bottom, 4.615rem);
	@include breakpoint-layout(break-2) {
		@include rem(padding-top, 4.5rem);
		@include rem(padding-bottom, 5rem);	
	}
	&__content{
		@include breakpoint-layout(break-2) {
			width: 50%;
		}
	}
	h2, .h2-style{
		color: site-color(white);
		margin-bottom: 1rem;
		font-weight: regular-of($display-type);
	}
	.arrow-link{
		@include text-link(site-color(white));
		@media screen and (max-width: 20em) {
			font-size: 1.6rem;
		}
	}
	

	@extend %has-background-color;
}