// =====================================================
// ------------- Siegmeyer II Global Styles ------------
// =====================================================
// @author Thomas Bredin-Grey <tbredin@gmail.com>
// Siegmeyer II: https://github.com/tbredin/Siegmeyer2
// =====================================================


html, body {
    margin: 0;
    background-color: site-color(white);
}

@if $debug-breakpoints == true and $debug-allow == true {
    @include debug-breakpoints;
}

img {
    -ms-interpolation-mode: bicubic;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
}

svg {
    max-width: 99.8%; // not 100% - to avoid clipping
    max-height: 99.8%;
}

::placeholder {
    color: site-color(gray_light);
    transition: color 0.25s ease;    	
}

:focus::placeholder {
    color: lighter(site-color(gray_light), 10);
}

.container {
    @include set-container;
    @extend %typeset;
    clear: both;
	@include rem(padding-left, px-to-rems(30px));
	@include rem(padding-right, px-to-rems(30px));
	@include breakpoint-layout(break-2) {
		@include rem(padding-left, px-to-rems(48px));
		@include rem(padding-right, px-to-rems(48px));	
		&.is-offset{
			max-width: 100%;
			padding-right: 0px;
			margin-right: 0px;
		}
	}
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&.is-full{
		padding: 0;
	}
}

#main{
	background-color: site-color(blue_mid_light);
	overflow: hidden;
}

.content{
	background-color: site-color(white);
	transition: all 0.2s ease;	
	&--has-nav{
		transform: translate3d(px-to-rems(290px), 0px, 0px);
		.no-csstransforms & {
			@include rem(margin-left, px-to-rems(290px));	
		}
		@include breakpoint-layout(break-1) {
			transform: translate3d(px-to-rems(305px), 0px, 0px);	
			.no-csstransforms & {
				@include rem(margin-left, px-to-rems(305px));	
			}
		}		
	}	
}