// =====================================================
// ----------- Siegmeyer II Basic typography -----------
// =====================================================
// @author Thomas Bredin-Grey <tbredin@gmail.com>
// Siegmeyer II: https://github.com/tbredin/Siegmeyer2
// =====================================================


// Setting root sizes and base styles.
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    @include rootsize;
}

// Site-wide base styles.
body {
    @include rem(line-height, 2rem);
    font-family: font-family-of($body-type);
    font-style: normal;
    font-weight: regular-of($body-type);
	color: site-color(blue_dark);
}

%typeset {
    position: relative;

    @if ($debug-baseline == true and $debug-allow == true) {
        &:after {
            // Demo baseline grid styles
            content: "";
            display: block;
            pointer-events: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom,rgba(50,50,50, 0.2)0,rgba(50,50,50, 0.2)1px,rgba(255, 255, 255, 0.3)1px,rgba(255, 255, 255, 0)2px, rgba(50,50,50, 0.0)1rem, rgba(50,50,50, 0.1)1rem,rgba(50,50,50, 0.1)1.05rem,rgba(255, 255, 255, 0.1)1.05rem,rgba(255, 255, 255, 0)1.125rem);
            @include rem(background-size, 100% 2rem);
            z-index: 1000;
        }
    }
}

// Links.
%link-style {
    @include text-link(site-color(blue), site-color(blue_dark));
}

 // Default
%default-style {
	@include type($body-type, 1.385rem, 2, 0, 1);
	@include breakpoint-layout(break-2) {
		@include type($body-type, 1.059rem, 2, 0, 1);
	}
}

// Intro.
%intro-style {
    @include type($body-type, 1.846rem, 3, 0, 1);      			
	@include breakpoint-layout(break-2) {
		@include type($body-type, 1.4rem, 2, 0, 1);					
	}
}

// Background colors
%has-background-color{
	@each $color in $site-color-names {
		&.has-background_#{'' + $color} {
			background: site-color($color);
		}
	}
}

// Nice underlines for text links.
a {
    @extend %link-style;
}

// Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
p, li {
    //font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;    
    font-family: font-family-of($body-type);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: site-color(blue_dark);
    -webkit-font-smoothing: antialiased;
    @extend %default-style;
    &.intro{	
		@extend %intro-style;
    }
}

// Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
h1, h2, h3, h4, h5, h6 {
    //font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: site-color(blue_dark);
    font-family: font-family-of($display-type);
    -webkit-font-smoothing: antialiased;
    font-weight: regular-of($display-type);
    margin-left: auto;
    margin-right: auto;

    a {
        @include text-link(site-color(blue_dark));
        @include type-match;
    }
}

// Heading level 1.
h1, .h1-style {
    // scales up to 4.1rem (2.72rem * 25/16)
    @include type($font: $display-type, $fontsize: 2.72rem, $lineheight: 3, $leader: 1, $trailer: 1, $scale-ratio: 25/16);    
	font-weight: regular-of($body-type);
}

// Heading level 2.
h2, .h2-style {
    // scales up to ~2.1rem (1.846rem * 1.147)
    @include type($display-type, 1.846rem, 3, 2, 1, 1.147);
    font-weight: bold-of($display-type);	
}

// Heading level 3.
h3, .h3-style {
    // scales up to 1.4rem
    @include type($display-type, 1.846rem, 3, 1, 1);	
	@include breakpoint-layout(break-2) {
		@include type($display-type, 1.4rem, 2, 1, 1);	
	}
}

// Heading level 4.
h4, .h4-style {
    // scales up to 1.125rem
    @include type($display-type, 1.125rem, 2, 1, 1);        
}

// Heading level 5.
h5, .h5-style {
    // scales up to 1.125rem
    @include type($display-type, 1.125rem, 2, 1, 1);    
}

// Heading level 6.
h6, .h6-style {
    // scales up to 1.125rem (1.375rem * 12/11)    
    @include type($display-type, 1.125rem, 2, 1, 1);
}

// Lists.
ul, ol {
    @include rem(padding-left, 1.75rem);
}

ul {
    list-style: disc outside;
    @include rem(padding-left, 1.5rem);
    li {
        @include rem(padding-left, 0.25rem);
    }
}

ol {
    list-style: decimal outside;
}

li {
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}

// Bold.
b, strong {
    font-weight: bold-of($body-type);
}

// Italic.
em, i {
    font-style: italic-of($body-type);
}

// Caption and inline small text.
small, .caption {
    font-family: font-family-of($body-type);
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: regular-of($body-type);
    // @include fontsize(12);
    letter-spacing: -0.035em;
}

small {
    @include rem(line-height, 1rem);
}

.caption {
    color: site-color(steel);
    // @include baseline(12, $headingtype, 2, 2);
}

// Quotes.
// Quotes.
blockquote {    
    @include rem(padding-bottom, 2rem);
    clear: both;
    @include clearfix;

    // @include breakpoint-layout(break-1) {
    //     @include rem(margin-left, -1rem);
    //     @include rem(margin-right, -1rem);
    // }

    p {
        font-family: font-family-of($body-type);
        font-weight: regular-of($body-type);        
        color: site-color(blue_dark);        
        @extend %intro-style;       
        position: relative;        		
        &:before {
            content: '\201C';
            position: absolute;
            top: 0.46em;
            left: -0.5em;
            color: rgba(49, 85, 92, 0.15);
            font-size: 3em;
			font-weight: bold-of($body-type);			
        }
    }
}

cite {
    font-style: italic;
    font-family: font-family-of($body-type);
    @include type($body-type, 1.125rem, 2, 2, 0, 10/9);
    display: block;
    @include clearfix;
    @include rem(padding-top, 1rem);
    @include rem(min-height, 6rem);
    width: 100%;

    @include breakpoint-layout(break-1) {
        @include rem(margin-right, -1rem);
    }

    @include breakpoint-layout(break-2) {
        margin-right: 0;
        width: span(8 of 10);
        margin-left: span(1 of 10);

        @include rem(min-height, 8rem);
    }
}

// Horizontal rule.
hr {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,#fff 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 50%;
    border: 0;
    @include rem(padding-top, 1rem);
    @include rem(padding-bottom, 1rem);
    margin: 0;
}

// Code block.
code, pre {
    background-color: site-color(steel);
    color: #fff;
    font-family: font-family-of($monospace-type);
}

pre {
    @include rem(border-radius, 0.3rem);
    display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    @include rem(margin-bottom, 2rem);
    @include rem(padding, 1rem);
}

code {
    // @include fontsize(12);
    @include rem(line-height, 1rem);
}


input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=number],
textarea {
    border-radius: 0;
    font-family: font-family-of($body-type);
    text-align: left;
    color: site-color(blue_dark);    
    -webkit-font-smoothing: antialiased;
    background-color: site-color(white);
    outline: 0 none;
    padding: 0.7em 0.6em 0.5em;
    margin: 0;
	@include rem(width, 15.88rem);
	max-width: 100%;
    border: 1px solid site-color(blue);    
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    &:hover {
        
    }

    &:focus {
        outline: none;
    }
}

input[type=search]{
	background-image: url(../images/icons/search.png);
	background-position: 96% center;
	background-repeat: no-repeat;
}

textarea{
	@include rem(width,32.94rem);
	@include rem(height, 15.88rem); 
}

select{
    border-radius: 0;
    font-family: font-family-of($body-type);
    font-weight: bold_of($body-type);
    text-align: left;
    color: site-color(blue);	
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
	background-image: url(../images/arrows/t-arrow-bottom.png);
	background-repeat: no-repeat;
	background-position: 96% 50%;
    outline: 0 none;
    padding: 0.60em 0.60em 0.22em;
    margin: 0;
    border: 0px;
	@include rem(width, 15.88rem);
	max-width: 100%;
    border-bottom: 1px solid rgba(0, 109, 129, 0.25); 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
	@include breakpoint-layout(break-1) {
		&.medium{
			@include rem(width, 7.882rem);
			@include rem(margin-right, 1rem);
		}
		&.small{
			@include rem(width, 4.706rem);
			@include rem(margin-right, 1rem);
		}
	}
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

input[type=submit], button {
	font-family: font-family-of($body-type);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.radio-wrapper, .checkbox-wrapper{
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	@include rem(margin-right,0.2rem);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	input[type=radio], input[type=checkbox]{
		position: absolute;
		left: 0;
		top: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
	}
	
}
.radio-wrapper{
	background-image: url(../images/icons/radio.png);
	&.checked{
		background-image: url(../images/icons/radio-active.png);
	}
}

.checkbox-wrapper{
	width: 20px;
	height: 20px;
	background-image: url(../images/icons/checkbox.png);
	&.checked{
		background-image: url(../images/icons/checkbox-active.png);
	}
}

.radio-label, .checkbox-label{
	cursor: pointer;
	display: inline-block;
	font-weight: bold-of($body-type);
	color: site-color(blue);
	@include rem(margin-right,1.765rem);
}


table{
	width: 100%;
	border: 0px;
	@include type($body-type, 1.125rem, 2, 0, 1);  
	tr{
		&:nth-child(even){
			background-color: site-color(blue_mid_light);
		}
	}
	th{
		font-weight: bold-of($body_type);
		padding: 0.563em 1.250em 0.313em;
		border-bottom: 1px solid site-color(gray_light);
	}
	td{
		font-weight: regular-of($body_type);
		padding: 0.563em 1.250em 0.313em;
		&.bold{
			font-weight: bold-of($body_type);			
		}
	}
	
}

// Letter space those capitals people, Jan Tschichold would be proud.
.upper {
    text-transform: uppercase;
    @include rem(letter-spacing, 0.1rem);
}

// Real small caps.
.small-caps {
    font-feature-settings: 'smcp' 1, 'kern' 1;
    @include rem(letter-spacing, 0.1rem);
}

// Consistent height numbers with OpenType.
.lining-numerals {
    font-feature-settings: 'lnum' 1, 'kern' 1;
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
    font-feature-settings: 'onum' 1, 'kern' 1;
}

